In [1]:
!pip install -r requirments.txt

In [ ]:
import pandas
import pandasql

In [2]:
task1 = pandas.read_csv('task1.csv')

In [3]:
sql_query1 = '''
select *
from task1
'''

In [4]:
pandasql.sqldf(sql_query1)

      sku_id           group_name  quantity
0   15536039  Традиционный творог     135.0
1   16552077                Кефир      11.0
2   16807431              Сметана      16.0
3   16804292              Сметана      20.0
4     225063              Сметана      16.0
5   17045312  Традиционный творог      11.0
6   18403864  Традиционный творог      16.0
7   16365417                Кефир      71.0
8   17047835              Сметана      53.0
9   16804293              Сметана      20.0
10    157515                Кефир      34.0
11  17098288              Сметана      21.0
12  17047810              Сметана      74.0
13    239895                Кефир      13.0
14    239900              Сметана      20.0
15  17092391              Сметана      27.0
16  17055492              Сметана      25.0
17  16999132                Кефир      14.0
18  16767533              Сметана      18.0
19  17074476  Традиционный творог      12.0
20  17098311  Традиционный творог     149.0
21  16804216              Сметана      38.0
22    118427                Кефир      16.0
23    288339  Традиционный творог      28.0
24  17074477  Традиционный творог      13.0
25  16824292              Сметана      16.0
26  17073595  Традиционный творог      11.0
27  17092390  Традиционный творог      27.0
28  16352571              Сметана      10.0
29  16747899  Традиционный творог      44.0
30  17092387              Сметана      65.0
31  18415843  Традиционный творог      25.0
32    315706              Сметана      81.0
33  17092399              Сметана      85.0
34    329247                Кефир      44.0
35  17092407  Традиционный творог      31.0
36  16807367              Сметана      10.0
37  16733251              Сметана      25.0
38    289122  Традиционный творог      68.0
39  17518946              Сметана      15.0
40  18415841  Традиционный творог      17.0
41    356982  Традиционный творог      99.0
42  17055446              Сметана      39.0
43  16602840                Кефир      29.0
44  16804291              Сметана      13.0
45    347343                Кефир      18.0
46  17501057  Традиционный творог      12.0
47  17500688  Традиционный творог      24.0
48  16733252              Сметана      12.0
49    219677  Традиционный творог      50.0
50    239901              Сметана      38.0
51  18404278  Традиционный творог      10.0
52  16747900  Традиционный творог      38.0
53  16567658                Кефир      10.0
54  16756546  Традиционный творог      14.0
55    161706                Кефир      23.0
56  17092441              Сметана      69.0
57  18420375                Кефир      14.0

In [5]:
task2 = pandas.read_csv('task2.csv')

In [6]:
sql_query2 = '''
select *
from task2
'''

In [7]:
pandasql.sqldf(sql_query2)

    sku_id    week
0   315842  202417
1   315842  202447
2   315842  202422
3   315842  202434
4   315842  202441
5   315842  202452
6   315842  202442
7   315842  202433
8   315842  202425
9   315842  202426
10  315842  202421
11  315842  202501
12  315842  202443
13  315842  202451
14  315842  202436
15  315842  202448
16  315842  202435
17  315842  202418